@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #f2f1f1;
  margin: 0 0 0 0;
  overflow-x: hidden;

  @media screen and (max-width: 640px) {
    margin: 0 0 0 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .section {
    @apply max-w-7xl lg:max-w-screen-xl xl:mx-auto mx-4 relative lg:overflow-visible overflow-hidden;
  }

  .h2 {
    @apply lg:text-5xl text-3xl font-bold leading-normal;
  }

  .color-section{
    @apply  w-full flex flex-col items-center justify-center;
  }
}
